<!doctype html>
{% extends 'guide_nav/ar_nav.html' %}

{% block title %}{{name}}{% endblock %}

{% block assets %}
<video id="my-video" src="{{ url_for('static', filename=overlay_src) }}" autoplay="true" preload="auto"></video>
{% endblock %}

{% block button%}
<button class="btn btn-warning route-button" onclick="moveToTheNextLoc()">
    Перейти к следующему экспонату
</button>
{% endblock %}

{% block overlay %}
<a-entity geometry="primitive: plane" material="src: #my-video"></a-entity>
{% endblock %}