<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://libs.zappar.com/zappar-aframe/0.3.29/zappar-aframe.js"></script>

    <link rel="icon" href="{{ url_for('static',filename='assets/favicon.png') }}">
    <title>{% block title %}{% endblock %} | AR гид</title>
</head>

<body>

    <a-scene>
        <a-assets>
            {% block assets %}{% endblock %}
        </a-assets>

        <a-entity zappar-permissions-ui id="permissions"></a-entity>
        <a-entity zappar-compatibility-ui id="compatibility"></a-entity>

        <a-camera zappar-camera="user-facing: true;" />

        <a-entity zappar-face id="face-anchor">
            {% block overlay %}{% endblock %}
        </a-entity>

        </a-entity>
    </a-scene>
</body>

</html>