<!doctype html>
{% extends 'index.html' %}

{% block title %}Predefined routes{% endblock %}

{% block content %}
<h1>Кастомый маршруты</h1>
<p>Здесь вы можете выбрать экспонаты которые вы хотите посетить</p>
<form>
    <p><select multiple size="9">
            <option disabled>Выберите экспонаты</option>
            <option value="">Экспонат 1</option>
            <option value="">Экспонат 2</option>
            <option value="">Экспонат 3</option>
            <option value="">Экспонат 4</option>
            <option value="">Экспонат 5</option>
            <option value="">Экспонат 6</option>
            <option value="">Экспонат 7</option>
            <option value="">Экспонат 8</option>
            <option value="">Экспонат 9</option>
        </select>
    </p>
    <p><input type="submit" value="Отправить"></p>
</form>

<a href="/">Назад</a>

{% endblock %}