<!doctype html>
{% extends 'guide_start/guide.html' %}

{% block title %}Predefined routes{% endblock %}

{% block content %}
<div class="container m-2">

    <h1>Пользовательский маршруты</h1>
    <p>Здесь вы можете выбрать экспонаты которые вы хотите посетить</p>
    <form name="custom" method="post">
        
        <div class="row">
            <select class="form-select" multiple size="9">
                <option disabled>Выберите экспонаты</option>

                {% for room, entities in rooms.items() %}
                <optgroup label="{{room}}">
                    {% for entity in entities %}
                    <option value={{entity[0]}}>{{entity[1]}}</option>
                    {% endfor %}

                </optgroup>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="row">
            <input class="col btn btn-primary btn-lg" id="custom-submit" type="button" value="Отправить"
                onclick="submitCustom(this)">
        </div>
    </form>

    <div class="row fixed-bottom"><a href="/guide" class="col btn btn-secondary">Назад</a></div>
</div>

{% endblock %}