<!doctype html>
{% extends 'guide_start/guide.html' %}

{% block title %}Generated routes{% endblock %}

{% block content %}
<div class="container m-2">

    <h1>Генеративный маршруты</h1>
    <p>Здесь вы можете нажать на кнопку</p>
    <form method="post">
        <div class="row">
            <input class="col btn btn-primary btn-lg" id="generated-submit" type="button" value="Создать маршрут"
                onclick="submitGenerated()">
        </div>
    </form>

    <div class="row fixed-bottom"><a href="/guide" class="col btn btn-secondary">Назад</a></div>
</div>

{% endblock %}