<!doctype html>
{% extends 'guide_start/guide.html' %}

{% block title %}Start page{% endblock %}

{% block content %}
<div class="container m-2">
    <h1>Добро пожаловать в AR гид!!</h1>
    <p>Здесь вы можете выбрать варианты для своего гида:</p>
    <div class="row">
        <div class="col mb-2"><a class="btn btn-primary mx-auto" href="/predefined">предзаданные маршруты</a></div>
        <div class="col mb-2"><a class="btn btn-primary mx-auto" href="/generated">генеративный маршрут</a></div>
        <div class="col mb-2"><a class="btn btn-primary mx-auto" href="/custom">пользовательский маршрут</a></div>
    </div>

    <div class="row fixed-bottom"><a href="/" class="btn btn-secondary col">Назад</a></div>
</div>
{% endblock %}